[submodule "miqScoreNGSReadCountPublic"]
	path = miqScoreNGSReadCountPublic
	url = https://github.com/Zymo-Research/miqScoreNGSReadCountPublic.git
[submodule "miqScoreShotgunPublicSupport"]
	path = miqScoreShotgunPublicSupport
	url = https://github.com/Zymo-Research/miqScoreShotgunPublicSupport.git
